{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Create Conflict Form</title>

    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light static-top shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="{% url 'conflict:create_form' %}">Create Form Conflict</a>
    </div>
  </nav>

    <br>
    <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>

    <script src="{% static 'vendor/jquery/jquery.slim.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>